%p Zapisz się do naszego newslettera, żebyśmy mogli powiadomić Cię gdy ruszymy:
%form{action: "//foodsurfing.us9.list-manage.com/subscribe/post?u=b8faa842a3265f7fcda44cb32&amp;id=418f056507", method: "post", id: "mc-embedded-subscribe-form", name: "mc-embedded-subscribe-form", class: "form-inline mc-form", targer: "_blank", validate: true}
  %dif.form-group.form-grou-lg
    %label{for: 'mce-FNAME', class: "sr-only"} Podaj imię:
    %input{type: "text", value: "", name: "FNAME", class: "email form-control input-lg", id: "mce-FNAME", placeholder: "Twoje imię", required: true}
  %div.form-group.form-group-lg
    %label{for: 'mce-EMAIL', class: "sr-only"} Podaj adres email:
    %input{type: "email", value: "", name: "EMAIL", class: "email form-control input-lg", id: "mce-EMAIL", placeholder: "Adres email", required: true}
    %div{style: "position: absolute; left: -5000px;"}
      %input{type: "text", name: "b_b8faa842a3265f7fcda44cb32_418f056507", tabindex: "-1", value: ""}
  %div.form-group
    %input{type: "submit", value: "Zapisz się", name: "subscribe", id: "mc-embedded-subscribe",  class:"btn btn-primary btn-lg"}
