%div.page-header
  %h1 Jak to działa?
  %small Poznaj nas i dowiedz się więcej


%div.page-content


  %div.jumbotron
    %h2 Czym jest FoodSurfing?

    %p.lead
      FoodSurfing to narzędzie, która umożliwia nawiązanie kontaktu pomiędzy osobami chcącymi podzielić się przygotowanymi przez siebie posiłkami oraz tymi, którzy chcą mieć dostęp do smacznej i niedrogiej, domowej kuchni. FoodSurfing to wygodna alternatywa dla drogich restauracji i mrożonej pizzy z mikrofalówki oraz sposób na dzielenie kosztów przygotowania posiłków.


  %h3 Skąd ten pomysł?
  %p Cierpisz na chroniczny brak czasu i kulinarnego talentu? Zdarzyło Ci się kiedyś ugotować tak dużo zupy, że musiałaś/eś jeść ją przez kilka dni z rzędu? Nie jesz produktów pochodzenia zwierzęcego, ale najbliższa wegańska restauracja położona jest 40 km od twojego miejsca zamieszkania? Uwielbiasz domowe pierogi, ale brak Ci cierpliwości by je lepić? Robisz wspaniałe ciasto marchewkowe, ale Twój chłopak/dziewczyna nie lubi słodyczy?
  %p FoodSurfing rozwiązuje te, z pozoru błache problemy, a przy okazji stanowi odpowiedź na istotne problemy społeczne i ekonomiczne: pośpiech, brak czasu, rosnące ceny, słaba dostepność do wartościowych produktów żywnościowych, czy marnowanie jedzenia. FoodSurfing to także użyteczne narzędzie dla osób, które mają szczególne wymagania kulinarne związane z czynnikami zdrowotnymi lub światopoglądowymi.

  %h3 Jak to działa?
  %p FoodSurfing umożliwia wyszukiwanie użytkowników oferujących przygotowane przez siebie posiłki, odpowiadające naszym oczekiwaniom. Aplikacja pozwala także na dotarcie do użytkowników, z którymi mogę podzielić się nadmiarowymi produktami żywnościowymi. Aplikacja umożliwia zarówno uczestniczenie w kulinarnych eventach, jak i zamówienia posiłku na wynos.
  %p Jeśli jesteś gospodarzem:
  %div.row
    %div.col-md-6
      %ul
        %li ustal menu,
        %li ustal dzień i godzinę spotkania/odbioru posiłków,
        %li ustal maksymalną ilość posiłków, jaką jesteś w stanie przygotować,
        %li ustal wielkość porcji i cenę za posiłek oraz sposób płatności,
        %li gotuj!
    %div.col-md-6
      %p Jeśli jesteś gościem:
      %ul
        %li znajdź interesującą Cię propozycję za pomocą naszej wyszukiwarki (link),
        %li zarezerwuj posiłek. Możliwość rezerwacji zamykana jest 24h przed umówionym terminem spotkania,
        %li czekaj na potwierdzenie rezerwacji,
        %li przyjdź punktualnie
        %li ciesz się smakiem.

  %h3 Zasady:

  %p
    %strong Traktuj rezerwacje posiłku wiążąco.<br/>
    Szanuj czas i wysiłek osoby, która przygotowała posiłek dla Ciebie.
  %p
    %strong Dotrzymuj słowa.<br/>
    Skoro określasz swoje danie jako wegetariańskie, to nie mają się w nim prawa znaleźć kawałki kurczaka. Jeśli deklarujesz użycie tylko składników organicznych, to nie kupuj marchewek z supermarketu. Niech wielkość przygotowywanych przez Ciebie porcji odpowiada temu, co zadeklarowałaś/eś.
  %p
    %strong Nie produkuj odpadów.<br/>
    Jeśli planujesz wziąć danie na wynos, przynieś własne opakowanie. Wielorazowego użytku, oczywiście.

  %p
    %strong Nie zawyżaj ceny.<br/>
    Skalkuluj cenę posiłku tak, by pokryła koszt zakupu żywności oraz energii i wody zużytej na jego przygotowanie. Nasza inicjatywa nie jest nastawiona na generowanie zysku.

  %p
    %strong Nie spóźniaj się.<br/>
    Nie chodzi tylko o etykietę. Odgrzewanie zimnej zupy oznacza zużycie dodatkowej ilości energii.

  %p
    %strong Wybieraj produkty przyjazne dla zdrowia i środowiska.<br/>
    Wybieraj produkty lokalne i nieprzetworzone (redukcja emisji CO2 związanej z transportem i zużyciem energii). Unikaj żywności mrożonej i nadmiernie opakowanej. Jeśli do przygotowania posiłku wykorzystujesz jajka, unikaj tych pochodzących z chowu klatkowego. Staraj się wprowadzać do swojej diety więcej warzyw, kosztem mięsa i wyrobów mlecznych.

  %p
    %strong Nie przesadzaj.<br/>
    Jednym z celów tej inicjatywy jest przeciwdziałanie marnowaniu żywności. Kup tylko tyle jedzenia, ile potrzebujesz do przygotowania posiłku. Dobrze zaplanuj wielkość porcji - jedzenie “na siłę” to też forma marnotrawstwa...

  %hr

  %p Społeczność FoodSurfing opiera się na wzajemnym zaufaniu użytkowników. Mamy jednak świadomość, że mogą zdarzyć się przypadki nadużywania tego zaufania, storzyliśmy zatem system oceny, którego celem jest dbanie o przestrzeganie kodeksu.


%h3 Hack4good
%p W jaki sposób FoodSurfing realizuje założenia hackathon?
%ul
  %li przeciwdziała marnowaniu żywności: stwarza platformę do dzielenie się tym czego mamy w nadmiarze
  %li wspieranie domowej produkcji żywności, która jest bardziej przyjazna dla środowiska (domowe przetwory, chleb)
  %li potencjalne wyeliminowanie nawyku kupowania jedzenia na wynos (zazwyczaj opakowanego i dowożonego samochodem.skuterem)
  %li kodeks promuje wybieranie produktów żywnościowych lokalnych, mało przetworzonych, ekologicznej
  %li wygodna alternatywa dla osób z szczególnymi potrzebami żywieniowymi
  %li wspieranie przyjaznych dla środowiska nawyków żywieniowych: dieta wegetariańska/wegańska
  %li wzajemna edukacja, inspirowanie
