# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 27eab3c8802d7115e0386cb2b8307dc3d2c7c2f240f57d808c2f7c8de434f6426b5cb6efc43cd0d6b70fea2d3cb5cd2e35f0cd0784478566ac8de637310be393

test:
  secret_key_base: 45731d18df10f4a329494f192f81c5f423163c4728361fec2df7e449ee5bcc39fd22214bde1cfa72c217cbe55d93d582e9c2a7054204439d8bff5cbdf68cb0b5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: cff4cdd02ff3097ae4c2dc0cefe89f9b3523e1631648aab1b15c5f3a40a34c0fc537b2879813d243a9271bd1ec7db00bf88824a10df705b6e59ecffeaaa7b76f
